name: scrollable_clean_calendar
description: A clean calendar widget with vertical scroll, locale, and range selection date
version: 1.1.0
homepage: https://github.com/FabioFiuza/scrollable_clean_calendar

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0
  flutter_lints: ^1.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
